@model Community_Trust.Models.Submission
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@Model.nameOfCause</p>
<p>Voting hasn't opened yet</p>
@Html.ActionLink("View Submissions", "ShowAllSubmissions", "Submission");